.footer {
  display: flex;
  color: white;
  height: 240px;
  padding: 40px 0px 45px 80px;
}

.initialFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.initialFooter img {
  width: 125px;
  height: 60px;
}

.socials {
  display: flex;
  gap: 0px 22px;
}

.rightFooter {
  display: flex;
  padding-left: 80px;
  gap: 10px;
}

.moreLinks {
  width: 183px;
  display: flex;
  flex-direction: column;
}

.moreLinks ul {
  list-style: none;
}

.moreLinks li {
  font-size: 16px;
  margin-bottom: 12px;
}

.moreLinks p {
  padding-bottom: 20px;
  font-size: 20px;
}