.footer {
  display: flex;
  color: white;
  height: 240px;
  padding: 40px 0px 45px 80px;
}

.initialFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.initialFooter img {
  width: 125px;
  height: 60px;
}

.socials {
  display: flex;
  gap: 22px;
}

.rightFooter {
  display: flex;
  padding-left: 80px;
  gap: 10px;
}

.moreLinks {
  width: 183px;
  display: flex;
  flex-direction: column;
}

.moreLinks ul {
  list-style: none;
}

.moreLinks li {
  font-size: 16px;
  margin-bottom: 12px;
}

.moreLinks p {
  padding-bottom: 20px;
  font-size: 20px;
}

.moreLinks a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 450px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    height: auto;
    margin: 50px 0;
  }

  .initialFooter {
    align-items: center;
    gap: 20px;
  }

  .moreLinks {
    width: auto;
  }

  .moreLinks p {
    font-size: 15px;
  }

  .moreLinks li {
    font-size: 11px;
    padding-top: 8px;
  }

  .rightFooter {
    padding: 10px 0;
    margin-top: 20px;
    gap: 60px;
  }

  .socials {
    gap: 45px;
  }
}
