.form {
  display: flex;
  flex-direction: column;
  background-color: #2c2c2c;
  padding: 30px 33px;
  border-radius: 4px;
  margin-top: 30px;
}

.divForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.formP {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.25px;
}

.text {
  font-size: 12px;
  color: #fff;
  position: relative;
  top: 0.4rem;
  line-height: 12px;
  margin: 0 0 0 10px;
  padding: 0 3px;
  background: #2c2c2c;
  width: fit-content;
  height: fit-content;
  letter-spacing: 0.15px;
}

.input {
  color: #fff;
  padding: 17px 12px;
  letter-spacing: 0.15px;
  line-height: 24px;
  font-size: 16px;
  border: 1px rgba(255, 255, 255, 23%) solid;
  border-radius: 4px;
  background: transparent;
  width: 100%;
}

.input::placeholder {
  color: #fff;
}

.input:focus {
  color: #fba403;
  border-color: #fba403;
  outline: none;
}

.input:focus::placeholder {
  color: #fba403;
  border-color: #fba403;
}

.find {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.find button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-top: 8px;
  background-color: #fba403;
  border: none;
  border-radius: 4px;
  color: white;
  letter-spacing: 1.25px;
  cursor: pointer;
  width: 215px;
}

.find button:hover {
  background-color: #ea9801;
}

.find p {
  color: #fba403;
  font-size: 14px;
}

.myRIDE {
  color: #fba403;
}

.textSpan {
  opacity: 70%;
}

.focusedSpan {
  color: #fba403;
}

.divInput {
  display: flex;
  width: 100%;
}

.svg1 {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 145px;
  top: 455px;
}

.svg2 {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 145px;
  top: 528px;
}

@media (max-width: 450px) {
  .form {
    background-color: rgba(35, 35, 35, 95%);
    margin-top: 30px;
    padding: 20px 21.5px;
  }

  .formP {
    font-size: 18px;
  }

  .text {
    font-size: 10px;
    background-color: rgba(35, 35, 35, 95%);
  }

  .divInput {
    width: 100%;
  }

  .input {
    font-size: 12px;
    padding: 12px 10px;
  }

  .input::placeholder {
    font-size: 12px;
  }

  .find button {
    font-size: 12px;
    width: 40vw;
    padding: 8px;
  }

  .find p {
    font-size: 10px;
    margin-right: 5px;
  }

  .svg1 {
    top: 323px;
    right: 45px;
    width: 20px;
    height: 20px;
  }

  .svg2 {
    top: 385px;
    right: 45px;
    width: 20px;
    height: 20px;
  }
}
